@media (max-width: 767.98px) {
  .border-sm-start-none {
    border-left: none !important;
  }
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* styles.css */

/* Your custom styles go here */
